<h1>Editar Profissão</h1>

<%= render 'form', occupation: @occupation %>

<%= link_to 'Detalhes', @occupation, class: "btn btn-success" %>
<%= link_to 'Voltar', occupations_path, class: "btn btn-default" %>
