<h1>Welcome!!!</h1>
<br>
<p><%= link_to 'Pais', fathers_path, class: "btn btn-default" %>
   <%= link_to 'Filhos', children_path, class: "btn btn-default" %>
   <%= link_to 'Profissões', occupations_path, class: "btn btn-default" %></p>